*{
    color: #fff;
}

.s_btn{
    background-color:#1A1A1B ;
    outline: none;
    border: none;
    padding: 10px 10px;
    margin: 10px 0px;
    border-radius: 10px;
}

.s_btn:hover{
    background-color: #fefeff46;
}

form{
    margin: 15px 0;
}