bcrypt==4.0.1
blinker==1.6.2
click==8.1.5
ezpip==0.2.5
fies==1.2.3
fileinit==0.0.2
flask==3.0.0
Flask-Bcrypt==1.0.1
Flask-Login==0.6.2
Flask-Mail==0.9.1
flask-sqlalchemy==3.1.1
flask-wtf==1.2.1
greenlet==3.0.0
itsdangerous==2.0.1
Jinja2==3.1.2
json-stock==0.2.6
MarkupSafe==2.1.3
mem==1.0.1
Pillow==10.0.1
relpath==3.0.5
rename-lock==0.1.4
sout==1.2.1
SQLAlchemy==2.0.21
typing-extensions==4.8.0
Werkzeug==2.3.3
WTForms==3.0.1
xxhash==3.4.1
