{% extends "base_structure.html" %}
{% block content %}
    <div class="container">
        <form action="" method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset>
                <legend>Create Mem</legend>
                <div class="form-group">
                    {{ form.title.label(class="form_label") }}


                    {% if form.title.errors %}
                        {{ form.title.errors }}
                    {% endif %}
                    

                    {{ form.title(class="form-control w-75 dinput") }}
                </div>
                <div class="form-group">
                    {{ form.description.label(class="form_label") }}
                    {{ form.description(class="form-control w-75 dinput") }}
                </div>
                <div class="form-group">
                    {{ form.meme.label(class="form_label") }}

                    {% if form.meme.errors %}
                        {{ form.meme.errors }}
                    {% endif %}

                    {{ form.meme(class="form-control w-75 dinput") }}
                </div>
                <div class="form-group">
                    {{ form.submit(class="s_btn") }}
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}