{% extends "base_structure.html" %}
{% block content %}
    <div class="container">
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <fieldset>
                <legend>Login In To Mem</legend>
                <div class="form-group">
                    {{ form.password.label(class="form_label") }}
                    {{ form.password(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.password_confirm.label(class="form_label") }}
                    {{ form.password_confirm(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.submit(class="s_btn") }}
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}