{% extends "base_structure.html" %}
{% block content %}
    <div class="container">
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <fieldset>
                <legend>Login In To Mem</legend>
                <div class="form-group">
                    {{ form.email.label(class="form_label") }}


                    {% if form.email.errors %}
                    {{ form.email(class="form_field_invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <span>
                                {{ error }}
                            </span>
                        {% endfor %}
                    </div>
                {% endif %}


                    {{ form.email(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.submit(class="s_btn") }}
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}